:host {
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  border-radius: 100px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background: #d3d3d3;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  border: 1px solid transparent;
  border-image: linear-gradient(#f00, #f00) 0 fill / 2.5 10 2.5 0 / 0px 0px 0 100vw;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #f00;
  border: 1px solid transparent;
  border-image: linear-gradient(#f00, #f00) 0 fill / 2.5 8 2.5 0 / 0px 0px 0 100vw;
}
