:host {
  display: block;
}

.btn-pause,
.btn-play {
  outline: none;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  height: 48px;
  width: 48px;
  opacity: 0.8;
}

.btn-pause:hover,
.btn-play:hover {
  opacity: 1;
  cursor: pointer;
}

svg {
  width: 16px;
  height: 20px;
}
