:host {
  /* display: block; */

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 40px;
}

.volume-slider {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #d3d3d3;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #04AA6D;
  border: 1px solid transparent;
  border-image: linear-gradient(#04AA6D,#04AA6D) 0 fill / 2.5 10 2.5 0 / 0px 0px 0 80px;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #04AA6D;
  border: 1px solid transparent;
  border-image: linear-gradient(#04AA6D,#04AA6D) 0 fill / 2.5 8 2.5 0 / 0px 0px 0 80px;
}